@charset "utf-8";
@import url('https://fonts.googleapis.com/css2?family=Lora:wght@400;500;600;700&display=swap');

:root{
    --stdbackColor:#282828;    
}

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
a{
    text-decoration: none;
}
li{
    list-style: none;
}
.img-flag{
    width: 25px;
    height: 15px;
}
.cta-sec{
    background-image:linear-gradient(rgba(0,0,0,0.5),rgba(0,0,0,0.5)) ,url(../Img/bg-img/cta-sec.jpg) ;
    height: 50vh;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}
h2,h3{
    font-size: 4rem;
    font-family: 'Lora', serif;
    width: 98%;
}
.cta-sec button{
    font-family: 'Lora', serif;
    font-size: 18px;
}
.one,.two,.four{
    font-family: 'Lora', serif;
    font-size: 18px;
}
.three{
    font-family: 'Lora', serif;
}
.our{
    font-size: 35px;
}
.family-sec{
    background-image:url(../Img/bg-img/bg-img1.jpg);
    background-size: cover;
    /* height: 200px; */
}
.family-sec:hover{
   background-image: linear-gradient(rgba(0,0,0,0.5),rgba(0,0,0,0.5)) ,url(../Img/bg-img/bg-img1.jpg);;
}
.solo-sec{
    background-size: cover;
    background-image:url(../Img/bg-img/bg-img2.jpg);
    /* height: 200px; */
}
.solo-sec:hover{
    background-image: linear-gradient(rgba(0,0,0,0.5),rgba(0,0,0,0.5)),url(../Img/bg-img/bg-img2.jpg);
}
.single-img{
    background-size: cover;
    background-image:url(../Img/img/superior_double-615x410.jpg)
}
.single-img:hover{
    background-image: linear-gradient(rgba(0,0,0,0.5),rgba(0,0,0,0.5)),url(../Img/img/superior_double-615x410.jpg)
}
.double-img{
    background-size: cover;
    background-image:url(../Img/img/standard_single-615x410.jpg)
}
.double-img:hover{
    background-image: linear-gradient(rgba(0,0,0,0.5),rgba(0,0,0,0.5)),url(../Img/img/standard_single-615x410.jpg)
}
.family-img{
    background-size: cover;
    background-image:url(../Img/img/standard_double-615x410.jpg)
}
.family-img:hover{
    background-image: linear-gradient(rgba(0,0,0,0.5),rgba(0,0,0,0.5)),url(../Img/img/standard_double-615x410.jpg)
}
.foot-sec{
    background-image: url(../Img/bg-img/bg_footer2.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}


@media (min-width:768px) {
   
    h2{
        width: 100%;
    }
    .img-city1{
        height: 194px;
        width: 750px;
    }
    .my-img-1{
        overflow: hidden;
        width: 200px;
        /* height: 260px */
    }
    .my-img{
        overflow: hidden;
        width: 340px;
        /* height: 260px */
    }
}
@media (min-width:992px) {
    /* .img-city{
        height: 206px;
        width: 460px;
    }
    .img-city1{
        height: 206px;
        width: 750px;
    } */
    .img-city1{
        height: 300px;
        width: 750px;
    }
    .my-img{
        overflow: hidden;
        width: 340px;
        height: 260px
    }
}
@media(min-width:1200px){
    
    .my-img-1{
        overflow: hidden;
        width: 200px;
        height: 260px
    }
}

@media (min-width:1400px) {
    .cta-sec{
        background-image:linear-gradient(rgba(0,0,0,0.5),rgba(0,0,0,0.5)) ,url(../Img/bg-img/cta-sec.jpg) ;
        height: 100vh;
        background-position: center;
        background-size: cover;
        background-repeat: no-repeat;
    }
    .my-img{
        overflow: hidden;
        width: 340px;
        height: 300px
    }
    .my-img-1{
        overflow: hidden;
        width: 200px;
        height: 300px
    }
}